*{
	background: #fff;
}

.contenedor{
	background:#eeeeee;
	width:20%;
	padding: 3px;
  margin-top:15px;
	border-radius: 5px
}

.formulario{
	background:#eeeeee;

	padding: 3px;
	width: 20%;

}

.contenedor h2{
	background-color: #eeeeee;
}

.contenedor h4{
	background-color: #eeeeee;
}

.contenedor a{
	background-color: #eeeeee;
}
