body{
    background-color: white;
}
.descripcion{
    text-decoration: none;
    font-weight: 600;
    margin-right: auto;
    border: 3px;
    border-style: solid;
    border-color: #000000;
    border-radius: 20px;
    padding: 8px 20px;
    width: 25%;
    height: auto;   
    background-color: #eeeeee;
    box-shadow: #000000 8px 8px 18px;
    font-family: 'Roboto', sans-serif;
}
.textofantasma{
    width: 1px;
    height: 1px;
    text-decoration: none;
    border: none;
    background-color: #eeeeee;

}
.boton{
    position: relative;
    display: inline-block;
    margin-bottom: auto;
    margin-left: auto;
    background-color: #eeeeee;
    text-decoration: none;
    font-weight: 600;
    }
.boton2{
    position: relative;
    display: inline-block;
    margin-bottom: auto;
    margin-left: auto;
    background-color: #c4c4c4dc;
    text-decoration: none;
    font-weight: 600;
}
.materia{
    position: relative;
    margin: auto;
    display: inline-block;
}
/*.link{
    position: relative;
    bottom: 20px;
    width: 35px;
    left: 23.9%;
    background-color: #52d2db;
    text-decoration: none;
    color: #52d2db;
    font-weight: 600;
}

.ver{
    position: relative;
    bottom: 55px;
    left: 25%;
    text
}*/