body {
	font-family: arial, Helvetica, sans-serif;
	margin: 15px;
	background-image: url(fondos_calle2.jpg);
	background-size: cover;
	background-attachment: fixed;
}
*{
box-sizing: border-box;
}

.contenedor{
	width: 100%;
	padding: 15px;
}

.formulario{
	background: #ffff;
	margin-top: 150px;
	padding: 3px;

}
h1{

	text-align: center;
	color: #1a2537;
	font-size: 40px;
}

input[type="text"],
input[type="password"]{
font-size: 15px;
width: 50%;
padding: 10px;
border: none;

}

.input-contenedor{
	margin-bottom: 10px;
	border: 1px solid #aaa;
}
.icon{

	min-width: 20px;
	text-align: center;
	color:white;
}
.botton{
	border: none;
	width: 100%;
	color: white;
	font-size: 20px;
	background: #1a2537;
	padding: 15px 20px;
	border-radius: 5px;
	cursor:pointer;
	text-align: center;
}
.button:hover{
	background:cadetblue;
}
p{
	text-align: center;
}
.link{
	text-decoration: none;
		color:#1a2537;
		font-weight:600;
}
.link:hover{
	color: cadetblue;
}
@media(min-width: 768px)
{
		.formulario{
			margin: auto;
			width: 400px;
			margin-top: 150px;
			border-radius: 2%;

		}

}
